doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
    title spam-trek
    link(href='css/ionic.app.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
    script(src='lib/ionic/js/ionic.bundle.js')
    script(src='cordova.js')
    script(src='js/app.js')
    script(src='js/main_controller.js')
    script(src='js/game.js')
    script(src='js/filter.js')
    script(src='js/spam.js')
    script(src='js/assets.js')
    script(src='js/safezone.js')
    script(src='js/mailbox.js')
    script(src='js/buffer.js')
    script(src='js/envelope.js')
  body(ng-app='spam-trek', ng-controller='MainCtrl')
    ion-pane
      ion-header-bar.bar-stable
        div {{clock}} s &nbsp;
        h1.title SpamTrek
        button.button.button-balanced(ng-click='start()', ng-show='startButton') START!
        button.button.button-balanced(ng-click='stop()', ng-show='stopButton') RESET!
      ion-content
        canvas#canvas
